<div class="main">
        <section id="landtape_info">
            <div class="info_container">

                <div class="subject_tape">
                    <p class="subject">추천</p>
                </div>

                <h1>카세트 테이프</h1>
                <p class="info">사용자의 플레이리스트를 비교하여 취향이 꼭 맞는 사용자들의 테이프를 추천합니다.<br>
                하나의 카세트 테이프에는 최대 10곡이 담겨있습니다. 마음에 드는 테이프를 꺼내 재생해 보세요.<br>
                그 중 내 취향과 맞는 곡이 있다면, 녹음하기 버튼을 눌러 나의 재생 목록에 담아보세요. </p>
            </div>

            <div class="land_button">
                <div class="button">
                01
                </div>
                <div class="button">
                02
                </div>
                <div class="button">
                03
                </div>
            </div>
        </section>

        <section id="landtape_img">
            <div class="tape_container">
            <div class="tapeimg">
<!--                    <%= image_tag ("tape1.jpg"), :class => "land_tape" %>-->
                테이프1
            </div>

            <div class="tapeimg">
<!--                    <%= image_tag ("tape1.jpg"), :class => "land_tape" %>-->
                테이프1
            </div>
            <div class="tapeimg">
<!--                    <%= image_tag ("tape1.jpg"), :class => "land_tape" %>-->
                테이프1
            </div>
            <div class="tapeimg">
<!--                    <%= image_tag ("tape1.jpg"), :class => "land_tape" %>-->
                테이프1
            </div>
            <div class="tapeimg">
<!--                    <%= image_tag ("tape1.jpg"), :class => "land_tape" %>-->
                테이프1
            </div>
            <div class="tapeimg">
<!--                    <%= image_tag ("tape1.jpg"), :class => "land_tape" %>-->
                테이프1
            </div>
            <div class="tapeimg">
<!--                    <%= image_tag ("tape1.jpg"), :class => "land_tape" %>-->
                테이프1
            </div>
            <div class="tapeimg">
<!--                    <%= image_tag ("tape1.jpg"), :class => "land_tape" %>-->
                테이프1
            </div>
            <div class="tapeimg">
<!--                    <%= image_tag ("tape1.jpg"), :class => "land_tape" %>-->
                테이프1
            </div>
            <div class="tapeimg">
<!--                    <%= image_tag ("tape1.jpg"), :class => "land_tape" %>-->
                테이프1
            </div>
         </div>

        </section>
    </div>
