<!--Sign Up List page-->
<div class="admit_bg_img">
    <div class="admit_list_container">
    <div class="admit_list_title">자신의 인생 명곡 10곡을 등록해주세요.</div>

<!-- partial로 분리 예정 -->

<%= form_for "admit_list" do |f| %>

<div class="admit_list">
  <%= f.text_field :m1, class: "admit_list", placeholder: "음악을 등록해주세요" %>
  <%= f.text_field :m2, class: "admit_list", placeholder: "음악을 등록해주세요" %>
  <%= f.text_field :m3, class: "admit_list", placeholder: "음악을 등록해주세요" %>
  <%= f.text_field :m4, class: "admit_list", placeholder: "음악을 등록해주세요" %>
  <%= f.text_field :m5, class: "admit_list", placeholder: "음악을 등록해주세요" %>
  <%= f.text_field :m6, class: "admit_list", placeholder: "음악을 등록해주세요" %>
  <%= f.text_field :m7, class: "admit_list", placeholder: "음악을 등록해주세요" %>
  <%= f.text_field :m8, class: "admit_list", placeholder: "음악을 등록해주세요" %>
  <%= f.text_field :m9, class: "admit_list", placeholder: "음악을 등록해주세요" %>
  <%= f.text_field :m10, class: "admit_list", placeholder: "음악을 등록해주세요" %>
</div>

<button type="submit" value="save" class="admit_list_btn">
  Sign Up
</button>

<% end %>

  </div>
</div>
