<div class="tape_form_container">

  <%= form_for "tapes" do |f| %>

  <div class="tape_title_container">
    <%= f.label :제목, class: "title", for: "title" %>
    <div class="input_title">
      <%= f.text_field :tape_title, id: "title", class: "form-control", placeholder: "제목을 작성해주세요" %>
    </div>
  </div>

  <div class="tape_img_container">
    <%= f.label :커버이미지, class: "tape_img", for: "tape_img" %>
    <br>
    <div class="input_img">
      이미지를 등록해주세요
      <%= f.file_field :img, id: "tape_img", class: 'img_up', value: "이미지를 등록해주세요" %>
    </div>
  </div>

  <div class="tape_filter_container">
    <div class="filter_index">
      필터
    </div>

    <div class="filter_box">
      <div class="filter">
        <%= f.label :Bule, for: "mp" %>
        <span></span>
        <%= f.check_box :blue, id: "mp" %>
      </div>

      <div class="filter">
        <%= f.label :Red, for: "scr" %>
        <%= f.check_box :red, id: "scr" %>
      </div>

      <div class="filter">
        <%= f.label :Yellow, for: "ovr" %>
        <%= f.check_box :yellow, id: "ovr" %>
      </div>

      <div class="filter">
        <%= f.label :Black, for: "sat" %>
        <%= f.check_box :black, id: "sat" %>
      </div>

      <div class="filter">
        <%= f.label :White, for: "sat" %>
        <%= f.check_box :white, id: "sat" %>
      </div>

    </div>
  </div>

<!--
  <div class="tape_filter_container">
    <div class="filter_index">
      필터
    </div>

    <div class="filter_box">
      <div class="filter">
        <%= f.label :Multiply, for: "mp" %>
        <span></span>
        <%= f.check_box :multiply, id: "mp" %>
      </div>

      <div class="filter">
        <%= f.label :Screen, for: "scr" %>
        <%= f.check_box :screen, id: "scr" %>
      </div>

      <div class="filter">
        <%= f.label :Overlay, for: "ovr" %>
        <%= f.check_box :overlay, id: "ovr" %>
      </div>

      <div class="filter">
        <%= f.label :Saturation, for: "sat" %>
        <%= f.check_box :saturation, id: "sat" %>
      </div>
    </div>
  </div>
-->

  <div class="tape_music_container">
    <div class="tape_music">
      트랙
    </div>

    <hr class="track">

    <div class="tape_record">

      <div class="tape_a">
        <div class="side_a">
          사이드 A
        </div>
        <div class="a_list_container">
          <div class="a">
            <%= f.text_field :list, class: "list_a", placeholder: "곡을 녹음해주세요" %>
            <%= f.button :"R", class: "record" %>
          </div>
          <div class="a">
            <%= f.text_field :list, class: "list_a", placeholder: "곡을 녹음해주세요" %>
            <%= f.button :"R", class: "record" %>
          </div>
          <div class="a">
            <%= f.text_field :list, class: "list_a", placeholder: "곡을 녹음해주세요" %>
            <%= f.button :"R", class: "record" %>
          </div>
          <div class="a">
            <%= f.text_field :list, class: "list_a", placeholder: "곡을 녹음해주세요" %>
            <%= f.button :"R", class: "record" %>
          </div>
          <div class="a">
            <%= f.text_field :list, class: "list_a", placeholder: "곡을 녹음해주세요" %>
            <%= f.button :"R", class: "record" %>
          </div>
        </div>
      </div>

      <div class="tape_b">
        <div class="side_b">
          사이드 B
        </div>
        <div class="b_list_container">
          <div class="b">
            <%= f.text_field :list, class: "list_b", placeholder: "곡을 녹음해주세요" %>
            <%= f.button :"R", class: "record" %>
          </div>

          <div class="b">
            <%= f.text_field :list, class: "list_b", placeholder: "곡을 녹음해주세요" %>
            <%= f.button :"R", class: "record" %>
          </div>

          <div class="b">
            <%= f.text_field :list, class: "list_b", placeholder: "곡을 녹음해주세요" %>
            <%= f.button :"R", class: "record" %>
          </div>

          <div class="b">
            <%= f.text_field :list, class: "list_b", placeholder: "곡을 녹음해주세요" %>
            <%= f.button :"R", class: "record" %>
          </div>

          <div class="b">
            <%= f.text_field :list, class: "list_b", placeholder: "곡을 녹음해주세요" %>
            <%= f.button :"R", class: "record" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="preview">
    미리보기
  </button>
  <!-- preview (if needed) -->
<br>
  <button type="submit" value="save" class="save_tape">
    저장
  </button>

<% end %>

</div>
