<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

<script>
  $(function(){
    var index = <%=raw @music_tscollection %>
    $(".list_a").autocomplete({
      source: index
    });
  });

  $(function(){
    var index = <%=raw @music_tscollection %>
    $(".list_b").autocomplete({
      source: index
    });
  });
</script>

<div class="tape_form_container">

  <%= form_for @tape do |f| %>

  <div class="tape_title_container">
    <%= f.label :제목, class: "title", for: "title" %>
    <div class="input_title">
      <%= f.text_field :tape_title, id: "title", class: "form-control", placeholder: "제목을작성해주세요" %>
    </div>
  </div>

<!-- image preview script  -->

<script>
function readURL(input) {

  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      $('#tape_img').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
  }
}

$("#tape_img").change(function() {
  readURL(this);
});
</script>


  <div class="tape_img_container">
    <%= f.label :커버이미지, class: "tape_coverimg" %>
    <div class="input_img">
      <%= f.label :이미지를등록해주세요, class: "tape_img", for: "tape_img" %>
      <%= f.file_field :img, id: "tape_img", class: 'img_up'%>
    </div>
  </div>

  <div class="tape_filter_container">
    <div class="filter_index">
      필터
    </div>

    <div class="filter_box">

      <div class="filter">

        <label class="container">Blue
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="filter">
        <label class="container">Red
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="filter">
        <label class="container">Yellow
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="filter">
        <label class="container">Black
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="filter">
        <label class="container">White
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </div>



    </div>
  </div>


  <div class="tape_music_container">
    <div class="tape_music">
      트랙
    </div>

    <hr class="track">

    <div class="tape_record">

      <div class="tape_a">
        <div class="side_a">
          사이드 A
        </div>
        <div class="a_list_container">
          <% (1..5).to_a.each do |current_music| %>
            <div class="a">
              <%= f.fields_for "m#{current_music}".to_sym do |m| %>
                <%= m.text_field :ts, class: "list_a", placeholder: "곡을 녹음해주세요", value: f.object.send("m#{current_music}").try(:ts) %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="tape_b">
        <div class="side_b">
          사이드 B
        </div>
        <div class="b_list_container">
          <% (6..10).to_a.each do |current_music| %>
            <div class="b">
              <%= f.fields_for "m#{current_music}".to_sym do |m| %>
                <%= m.text_field :ts, class: "list_b", placeholder: "곡을 녹음해주세요", value: f.object.send("m#{current_music}").try(:ts) %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="tape_submit">
    <button type="preview" class="preview_custom">
      미리보기
    </button>
    <!-- preview (if needed) -->
    <button type="submit" value="save" class="save_tape">
      저장
    </button>
  </div>

<% end %>

</div>
