<div class="tape_form_container">

  <%= form_for "tapes" do |f| %>

  <div class="tape_title_container">
    <%= f.label :제목, class: "title", for: "title" %>
    <div class="input_title">
      <%= f.text_field :tape_title, id: "title", class: "form-control", placeholder: "제목을 작성해주세요" %>
    </div>
  </div>

  <div class="tape_img_container">
    <%= f.label :커버이미지, class: "tape_img", for: "tape_img" %>
    <br>
    <div class="input_img">
      이미지를 등록해주세요
      <%= f.file_field :img, id: "tape_img", class: 'img_up', value: "이미지를 등록해주세요" %>
    </div>
  </div>

  <div class="tape_filter_container">
    필터
    <br>

    <div class="filter_box">
      <div class="filter">
        <%= f.label :Multiply, for: "mp" %> <span></span>
        <%= f.check_box :multiply, id: "mp" %>
      </div>

      <div class="filter">
        <%= f.label :Screen, for: "scr" %>
        <%= f.check_box :screen, id: "scr" %>
      </div>

      <div class="filter">
        <%= f.label :Overlay, for: "ovr" %>
        <%= f.check_box :overlay, id: "ovr" %>
      </div>

      <div class="filter">
        <%= f.label :Saturation, for: "sat" %>
        <%= f.check_box :saturation, id: "sat" %>
      </div>
    </div>
  </div>

  <div class="tape_music_container">
    <div class="tape_music">
      트랙
    </div>

  <hr class="track">

  <div class="tape_record">
    <div class="tape_a">

      <label for="side_a">
        사이드 A
        <br>
        <div class="a_list_container">
          <input class="record_a" name="record_a" type="text" placeholder="곡을 녹음해주세요">
          <input class="record_a" name="record_a" type="text" placeholder="곡을 녹음해주세요">
          <input class="record_a" name="record_a" type="text" placeholder="곡을 녹음해주세요">
          <input class="record_a" name="record_a" type="text" placeholder="곡을 녹음해주세요">
          <input class="record_a" name="record_a" type="text" placeholder="곡을 녹음해주세요">
        </div>
      </label>
    </div>

    <div class="tape_b">
      <label for="side_b">
        사이드 B
        <br>
        <div class="b_list_container">
          <input class="record_b" name="record_b" type="text" placeholder="곡을 녹음해주세요">
          <input class="record_b" name="record_b" type="text" placeholder="곡을 녹음해주세요">
          <input class="record_b" name="record_b" type="text" placeholder="곡을 녹음해주세요">
          <input class="record_b" name="record_b" type="text" placeholder="곡을 녹음해주세요">
          <input class="record_b" name="record_b" type="text" placeholder="곡을 녹음해주세요">
        </div>
      </label>
    </div>
  </div>
</div>

  <button type="preview">
    미리보기
  </button>
  <!-- preview (if needed) -->
  <button type="submit" value="save">
    저장
  </button>

<% end %>

</div>
