<!--Sing Up Page-->

<div class="admit_bg">
  <div class="admit_container">
    <div class="admit_title">늘어진<br>카세트<br>테이프</div>
    <div class="admit_logo">
      <%= image_tag "logo.png", class:"login_logo"%>
    </div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<div class="go_login">
  Already have an account?
  <%= link_to 'Login', "/devise/sessions/new", class: "regi_login" %>
</div>

<%= render "devise/shared/links" %>

</div>
</div>
