<div class="admit_bg_img">
  <div class="admit_container">
    <div class="admit_title">Forgot your password?</div><br />
    <div class="admit_logo">
      <%= image_tag "logo.png", class:"admit_logo"%>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, label: false, required: true, autofocus: false, placeholder: "E-mail" %>
      </div>

      <div class="form-actions">
          <%= f.button :submit, "Send me reset password instructions" %>
        <% end %>
      </div>

      <div class="go_login">
        <p>Back to <%=render"devise/shared/links"%>?</p>
      </div>
    </div>
  </div>
</div>
