<section id="profile">
  <div class="profile_img">
    <%= image_tag("profile_img.png", width: "246vw", alt: "profile_img") %>
  </div>
  <div class="profile_article">
    <div class="profile_top">
      <div class="nickname">늘카테 땅비</div>
      <button class="profile_edit_btn">프로필 수정</button>
    </div>
    <div class="post_count">
      <p>테이프<div class="tape_count">5</div></p>
      <p>데일리 뮤직<div class="daily_count">12</div></p>
      <p>녹음<div class="rec_count">37</div></p>
    </div>
    <div class="user_intro">늘어진 카세트 테이프에서 디자인과 프론트를 맡고 있는 땅비입니다.</div>
  </div>
</section>

<section class="mypage_tab">
  <div class="tabs">
      <input type="radio" name="tabs" id="tabone" checked="checked">
      <label for="tabone">테이프</label>
        <div class="tab">
          <div class="user_tape">

          <!-- 테이프 테마 -->
            <div class="tape_theme">

              <!-- 사용자가 업로드하는 커버 이미지 -->
              <div class="user_cover">
                <%= image_tag("cover_test.png", width: "218vw", alt: "") %>
              </div>

              <!-- 선택 블렌딩 -->
              <div class="blend_box"></div>

              <!-- 선택 스킨 -->
              <div class="upload_tape">
                <%= image_tag("tapeskin_black.png", width: "250vw", alt: "") %>
              </div>

              <!-- 테이프 타이틀 -->
              <p class="tape_title">강건너 불구경</p>

            </div>
          <!-- -->

              <div class="upload_tape">
                <%= image_tag("tapeskin_orange.png", width: "250vw", alt: "") %>
              </div>
              <div class="upload_tape">
                <%= image_tag("tapeskin_purple.png", width: "250vw", alt: "") %>
              </div>
              <div class="upload_tape">
                <%= image_tag("tapeskin_purple.png", width: "250vw", alt: "") %>
              </div>
              <div class="upload_tape">
                <%= image_tag("tapeskin_black.png", width: "250vw", alt: "데일리") %>
              </div>
              <div class="upload_tape">
                <%= image_tag("tapeskin_orange.png", width: "250vw", alt: "") %>
              </div>

          </div>
        </div>

      <input type="radio" name="tabs" id="tabtwo">
      <label for="tabtwo">데일리 뮤직</label>
        <div class="tab">
          <div class="임시탭_데일리">
            <%= image_tag("daily_screenshot.png", width: "760vw", alt: "데일리") %>
          </div>
        </div>

        <input type="radio" name="tabs" id="tabthree">
        <label for="tabthree">플레이리스트</label>
          <div class="tab">
            <div class="playlist">
              <div class="rec-music">아이유 - 첫 이별 그날 밤</div>
              <div class="rec-music">숀 - Way Back Home</div>
              <div class="rec-music">레드벨벳 - Power Up</div>
              <div class="rec-music">약속 - 다시만나</div>
              <div class="rec-music">방탄소년단 - Fake a Love</div>
              <div class="rec-music">블랙핑크 - 뚜두뚜두</div>
            </div>
          </div>
    </div>
</section>
