<section id="profile">
  <img class="profile_img" src="/assets/profile_img.png">
  <div class="profile_article">
    <div class="profile_top">
      <div class="nickname"><%= current_user.nickname %></div>
      <button class="profile_edit_btn">프로필 수정</button>
    </div>
    <div class="post_count">
      <p>테이프<div class="tape_count"><%= current_user.tapes.count %></div>
      </p>
      <p>데일리 뮤직<div class="daily_count"><%= current_user.dailies.count %></div>
      </p>
      <p>녹음<div class="rec_count"><%= current_user.records.count %></div>
      </p>
    </div>
    <div class="user_intro">늘어진 카세트 테이프에서 디자인과 프론트를 맡고 있는 땅비입니다.</div>
    <!-- <div class="user_intro"><%= current_user.text %></div> -->
  </div>
</section>

<section class="mypage_tab">
  <div class="tabs">
    <input type="radio" name="tabs" id="tabone" checked="checked">
    <label for="tabone">테이프</label>
    <div class="tab">
      <div class="user_tape_my">
        <% current_user.tapes.each do |t| %>
          <%= link_to tape_path t do %>
            <div class="tape_theme_my">              
              <%= image_tag "cover_test.png", class: "user_cover_my" %>
              <div class="blend_box_my"></div>
              <%= image_tag "tapeskin_black.png", class: "upload_tape_my" %>
              <p class="tape_title_my">
                <%=t.tape_title %></p>
            </div>
          <% end%>
        <% end%>

      </div>
    </div>

    <input type="radio" name="tabs" id="tabtwo">
    <label for="tabtwo">데일리 뮤직</label>
    <div class="tab">
      <div class="daily_tab">
        <a class="edit_mypage">편집</a>
        <div class="daily_card_container_mypage">
          <a id="card1" class="daily_card_mypage">
            <!-- <!— 사용자 데일리의 컬러 —> -->
            <div class="daily_card_color_mypage">
              <!-- <!— 사용자 데일리의 제목 —> -->
              <p class="daily_card_title_mypage">우리는 지금 어디에</p>
            </div>
            <div class="daily_card_img_box_mypage">
              <!-- <!— 사용자 데일리의 이미지 —> -->
              <img class="daily_card_img_mypage" src="/assets/daily_ex.jpg"></img>
            </div>
          </a>

          <% current_user.dailies.each do |t| %>
            <div class="daily_card_mypage">
              <!-- <!— 사용자 데일리의 컬러 —> -->
              <div class="daily_card_color_mypage">
                <!-- <!— 사용자 데일리의 제목 —> -->
                <p class="daily_card_title_mypage"><%= t.daily_title%></p>
              </div>
              <div class="daily_card_img_box_mypage">
                <!-- <!— 사용자 데일리의 이미지 —> -->
                <img class="daily_card_img_mypage" src="/assets/daily_ex.jpg"></img>
              </div>
            </div>
          <% end%>
        </div>
      </div>
    </div>

    <input type="radio" name="tabs" id="tabthree">
    <label for="tabthree">플레이리스트</label>
    <div class="tab">
      <div class="playlist">
        <% @list.each do |x| %>
          <div class="rec-music"><%= x.singer %> - <%= x.title %></div>
        <% end %>
      </div>
    </div>
  </div>
</section>
