<!--Login Page-->
<head>

</head>


<body>

<div class="admit_bg_img">

  <section class="admit_bg">
    <div class="admit_container">
    <div class="admit_title">늘어진<br>카세트<br>테이프</div>
    <div class="admit_logo">
      <%= image_tag "logo.png", class:"login_logo"%>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, label: false, required: false, autofocus: true, placeholder: "E-mail" %>
      <%= f.input :password, label: false, required: false, placeholder: "Password" %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.submit 'Login', :class => 'login_btn' %>
    </div>
  <% end %>

  <div class="go_register">
    Don't have an account?
    <%= link_to 'Register', "/users/sign_up", class: "login_register" %>
  </div>

  <%= render "devise/shared/links" %>

    </div>
  </section>
</div>

</body>
