<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

<script>
  $(function(){
    var index = <%=raw @music_tscollection %>
    $(".music_placeholder").autocomplete({
      source: index
    });
  });
</script>

<%= form_for @daily do |d| %>

  <div class="form_section_one">

    <%= d.label class: "form_title", for: "daily_title" do %>제목
      <%= d.text_field :daily_title, class: "title_placeholder", placeholder: "제목을 작성해주세요" %>
    <% end %>

    <%= d.label class: "form_track", for: "musicN" do %>트랙
      <%= d.text_field :musicN, class: "music_placeholder", placeholder: "곡을 녹음해주세요" %>
    <% end %>


    <div class="tape_img_container">
      <%= d.label :사진, class: "form_dailyimg" %>
      <div class="input_img">
        <%= d.label :사진을등록해주세요, class: "img_placeholder", for: "daily_img" %>
        <%= d.file_field :img, id: "daily_img", class: 'upload_dailyimg' %>
      </div>
    </div>

  </div>


  <div class="form_section_two">

    컬러

    <div class="daily_color_btns">
      <button type="button" class="daily_black_btn" onclick="changingBlack()"></button>
      <button type="button" class="daily_gray_btn" onclick="changingGray()"></button>
      <button type="button" class="daily_pink_btn" onclick="changingPink()"></button>

      <button type="button" class="daily_orange_btn"  onclick="changingOrange()"></button>
      <button type="button" class="daily_yellow_btn"  onclick="changingYellow()"></button>
      <button type="button" class="daily_mint_btn" onclick="changingMint()"></button>
      <button type="button" class="daily_blue_btn" onclick="changingBlue()"></button>
      <button type="button" class="daily_purple_btn" onclick="changingPurple()"></button>
    </div>

    <script>
      function changingBlack() {
        document.getElementById("daily_color_modal").style.backgroundColor = "gray";
      }
      function changingGray() {
        document.getElementById("daily_color_modal").style.backgroundColor = "lightgray";
      }
      function changingYellow() {
        document.getElementById("daily_color_modal").style.backgroundColor = "yellow";
      }
      function changingOrange() {
        document.getElementById("daily_color_modal").style.backgroundColor = "orange";
      }
      function changingPink() {
        document.getElementById("daily_color_modal").style.backgroundColor = "pink";
      }
      function changingMint() {
        document.getElementById("daily_color_modal").style.backgroundColor = "green";
      }
      function changingBlue() {
        document.getElementById("daily_color_modal").style.backgroundColor = "blue";
      }
      function changingPurple() {
        document.getElementById("daily_color_modal").style.backgroundColor = "purple";
      }
    </script>

</div>


  <div class="form_section_three">
    <%= d.label class: "form_title", for: "body" do %>일기
      <%= d.text_area :body, rows: 5, class: "textarea_box", placeholder: "내용을 작성해주세요" %>
    <% end %>
  </div>
  <div class="form_section_four">
    <!-- <button type="submit" value="save" id="form_submit_btn"> 저장 </button> -->
    <%= d.submit "저장", id: "form_submit_btn" %>
  </div>


<% end %>
