<!DOCTYPE html>
<html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123746599-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-123746599-1');
    </script>

    <title>NeulCatte</title>
    <%= csrf_meta_tags %>

    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', params[:controller] if NeulCatte::Application.assets.find_asset("#{params[:controller]}.css") %>
    <%= javascript_include_tag 'application', params[:controller] if NeulCatte::Application.assets.find_asset("#{params[:controller]}.js") %>

    <meta property="og:title" content="늘어진 카세트 테이프" />
    <meta property="og:description" content="아날로그 감성을 담은 음악 추천 서비스" />
    <meta property="og:image" content="<%= asset_path("neulcatte_original.jpg") %>" />

    <script type="text/javascript" src="path/to/jQuery.js"></script>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="js/jquery-2.1.3.min.js"></script>

  </head>

  <body>

<!-- Navbar -->
    <%= render "shared/nav" %>

    <%= yield %>
  </body>
</html>
